
body {
	padding : 0px;
	border : 0px;
	margin : 0px;
}

header {
	background-color : #333333;
	color : #f0f0f0 ;
	padding : 5px;
}

header a{
	background-color : black;
	color : white ;
	text-decoration: none;
}

header .small-logo {
	display: inline;
}
header nav {
	float : right;
	text-align : right;
}
header .userid {
	/*float : right ;*/
}

footer {
	text-align : center;
}

body, div {
	-webkit-user-select: none;
	
}

.mainbody {
	position: relative ;
	min-width : 800px;
	min-height: 500px;
	border : 1px solid red;

}

.group-main {
	padding-right : 201px;
}
.group-topic {
	position: relative ;

	width : 100%;
	margin-right : 200px;
	
	overflow-x : scroll ;
	overflow-y : hidden;



}
.group-panel {
	position: absolute;
	background-color : #F1F1F1 ;
	right : 20px;
	top :0px;
	/*float : left ;*/
	border : 0px solid red;
	width : 180px;
	height : 480px;
}

.group-tool {
	position: absolute;
	right : 0px;
	top :0px;
	border : 0px solid red;
	background-color : #F1F1F1;
	width : 20px;
	height : 480px;
}

.group-aside-shadow {
	-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,0.3);
}

.group-topic-inner {
	white-space:nowrap;
	width : 2000px;


}

.group-topic .topic {
	/*display: inline-block ;*/
	float : left ;
	border : 1px solid blue ;
	width : 350px;
	margin : 10px;
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
	overflow : hidden ;
}

.group-topic .topic .topic-header{

	height : 20px;
	border-bottom : 1px solid red;
}
.group-topic .topic .topic-body{

	overflow-x : auto; 
	overflow-y : scroll; 
	height : 350px;
	padding:2px;
}

.group-topic .topic .topic-footer{
	border-top : 1px solid #999;
	background-color : #eee;
	height : 55px;
}


.sendbox {
	top : 390px;
	position: absolute;
	margin-left : 12px;
	height : 50px;
}


.sendbox div {
	float : left;
}

.msgbox textarea {
	height : 39px;
	width : 280px;
	/*border : 1px solid #dddddd;*/
	resize : none;
}


.sendbutton .core-button span {
	height : 40px;
	width : 40px;
	line-height: 36px;
}

.core-button:hover{
	-webkit-box-shadow:inset 0px 0px 4px #ffffff;
}

.core-button:active{
	-webkit-box-shadow:inset 0px 0px 6px #333333;
}

.core-button {
	margin : 1px;
	border: 1px solid #3079ED;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4D90FE,#4787ED);
	color: white !important;
}

.core-button span {
	display :block;
	font-weight: bold;
	text-align: center;
}


.group-bar {
	position: absolute;
	display : block;
	z-index : 99;
	width : 100%;
	left : 0px;
	bottom : 0px;
	height : 30px;
	background-color : #ffe0d6;
}

.topic .message {
		white-space:normal;
		word-wrap:break-word;
		word-break:break-all;
}

.topic .message:nth-child(even) {
	background-color : #eeeeee ;
}

.topic .message .sender {
	
}
.topic .message .sendtime {
	float : right;
	text-align : right ;


}
.topic .message .text {
	clear : both;
	
}



